# === Python System Files ===
__pycache__/
*.py[cod]
.venv/
venv/

# Environmental Variables (for privacy)
.env
.sqlfluff

# Mac OS System Files
.DS_Store

# IDE Settings
.vscode/
.idea/

# Raw Data
data/raw/*
!data/raw/.gitkeep

# Logs
logs/
*.log

# Large Files
*.csv
*.json
*.zip
*.parquet

# === Temporary / Lock Files ===
.~lock*
*.lock